<html>
<head>
  <meta charset="utf-8">
  <title>The Wall</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- linking a css style sheet -->
  <link <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ark.css')}}">
  <!-- linking a javascript file -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js')}}"></script>
</head>
<body>
  <div id='navbar'>
    <span> Coding Dojo Wall </span>
    <span id='welcome'> welcome {{name['first_name']}} {{name['last_name']}}</span>
    <form id='log_out' action='/logout'>
      <input type='submit' value='Log off' />
    </form>
  </div>
  <div class="main-content">
    <div id='post_message'>
      <form action='/new_message' method='post'>
        <textarea id='a_post' rows='3' name='message' placeholder='type here'></textarea>
        <input type='submit' value='Post Message' />
      </form>
    </div>
    <div id='message_body'>
      {% for message in messages %}
      <div>
        <p id='message'>
          <i>{{message['first_name']}} {{message['last_name']}} {{message['created_at']}}</i><br>
          {{message['message']}}
        </p>
      </div>
      {% for comment in comments %}
        {% if comment['messages_id'] == message['id'] %}
      <div>
        <p id='comment'>
          <i>{{comment['first_name']}} {{comment['last_name']}} {{comment['created_at']}}</i><br>
          {{comment['comment']}}
        </p>
        <p>

        </p>
      </div>

      {% endif %}
      {% endfor %}
      <form id='form1' action='/comment/{{message['id']}}' method="post">
        <textarea type='textarea' name='comment'></textarea>
        <input type='submit' value='Post Comment' >
      </form>
      {% endfor %}
    </div>
  </div>
</body>
</html>
